.page-title {
  margin-top: 20px;
  margin-bottom: 40px;
  h1 {
  color: $lavender-light;
  font-size: 64px;
  text-align: center;
  }
}
.sub-title {
  padding-top: 5px;
  h3 {
  color: $lavender-dark;
  font-size: 30px;
  text-align: center;
  }
}

.show-title {
  margin-top: 20px;
  margin-bottom: 20px;
  h1 {
  color: $lavender-light;
  font-size: 64px;
  text-align: center;
  }
}

.welcome {
  background-color: $lavender-light;
  padding: 0px 30px;
  padding-top: 5px;
  border-radius: 100px;
  margin-bottom: 10px;
  text-align: center;
  h1 {
  color: $lavender-dark;

  }
}
