 body {
  background-color: $lavender-medium;
  margin-top: 60px;
 }

.landing-text {
  font-family: Big Shoulders Text;
  font-style: normal;
  font-weight: lighter;
  font-size: 10vw;
  line-height: 12vw;
  text-align: center;
  color: $lavender-light;

  margin-top: 30px;
}

.typed-cursor {
  display: none;
}
