<div class="container">
  <div class="row">
    <div class="col-12 d-flex align-items-baseline">
      <span class="landing-text" id="banner-typed-text">
      </span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
      <div class="button-container">
        <div class="button-inactive-large">
          See all toilets
        </div>
      </div>
  </div>
</div>
