<div class="container">
  <div class="row">
    <div class="col-12 d-flex align-items-baseline">
      <span class="landing-text" id="banner-typed-text">
      </span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <%= link_to toilets_path, class: "button-link" do%>
      <div class="button-container">
        <div class="button-inactive-large">
          See all toilets
        </div>
        <%end%>
      </div>
  </div>
</div>
