<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="show-title">
      <h1> Edit your toilet </h1>
    </div>
  </div>
</div>


<%= render 'form', toilet: @toilet %>
