.button-fill {
  font-family: 'Space Mono', monospace;
  display:flex;
  align-items: center;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 6px 12px;
  background: #CAA3F1;
  border-radius: 50px;
}

.button-nofill {
  font-family: 'Space Mono', monospace;
  display:flex;
  align-items: center;
  height: 40px;
  color: #CAA3F1;
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid #CAA3F1;
  box-sizing: border-box;
  border-radius: 50px;

  &:hover {
    background: #CAA3F1;
    color: white;
  }
}

.button-inactive-large {
  font-family: 'Space Mono', monospace;
  display:flex;
  align-items: center;
  height: 80px;
  color: #F6E7FB;
  font-size: 36px;
  padding: 30px;
  border: 3px solid #F6E7FB;
  box-sizing: border-box;
  border-radius: 100px;

  &:hover {
    background: #F6E7FB;
    color: #CAA3F1;
    cursor: pointer;
  }
}

.button-container {
  display:flex;
  justify-content:center;
  position: fixed;
  bottom: 80px;
  z-index: 10;
}

.button-link:hover {
  text-decoration: none;
}
