.button-fill {
  font-family: 'Space Mono', monospace;
  display:flex;
  align-items: center;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 6px 12px;
  margin-right: 10px;
  background: $lavender-green;
  border-radius: 50px;
  border: 1px solid $lavender-green;
  &:hover {
    background: $lavender-light;
    color: $lavender-green;
    border: 1px solid $lavender-green;
  }
}

.button-nofill {
  font-family: 'Space Mono', monospace;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: $lavender-green;
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid $lavender-green;
  box-sizing: border-box;
  border-radius: 50px;


  &:hover {
    background: $lavender-green;
    color: white;
  }
}

.button-inactive-large {
  font-family: 'Space Mono', monospace;
  display:flex;
  align-items: center;
  height: 80px;
  color: $lavender-light;
  font-size: 36px;
  padding: 30px;
  border: 3px solid $lavender-green;
  box-sizing: border-box;
  border-radius: 100px;

  &:hover {
    background: $lavender-light;
    color: $lavender-green;
    cursor: pointer;
  }
}

.button-container {
  display:flex;
  justify-content:center;
  position: fixed;
  bottom: 80px;
  z-index: 10;
}

.button-link:hover {
  text-decoration: none;
}

.simple_form input {
  font-family: 'Space Mono', monospace;
  display:flex;
  align-items: center;
  height: 40px;
  font-size: 16px;
  color: $lavender-dark;
  padding: 6px 12px;
  background: $lavender-light;
  border-radius: 50px;
  border: 1px solid $lavender-green;
    &:hover {
    background: $lavender-light;
    color: $lavender-dark;
    cursor: pointer;
  }
}

input[type=submit] {
  font-family: 'Space Mono', monospace;
  display:flex;
  align-items: center;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 6px 12px;
  margin-top: 20px;
  background: $lavender-green;
  border-radius: 50px;
  border: 1px solid $lavender-green;
  &:hover {
    background: none !important;
    color: $lavender-green;
    border: 1px solid $lavender-green;
  }
}

#toilet_description {
    border-radius: 20px;
    height: 100px;
    background: $lavender-light;
    color: $lavender-dark;
}

.simple_form {
  color: $lavender-dark;
  border-radius: 50px;
}

input[type=file] {
  background-color: $lavender-medium;
}

.usetwentyfour {
  color: $lavender-dark;

}
