.card-map {
  display: flex;
  width: 300px;
  height: 150px;
  background-color: $lavender-light;
  position:relative;
}

.card-map-link:hover {
  text-decoration: none;
}

.card-map-info {
  width: 45%;
  padding: 6px 12px;
  display:flex;
  flex-direction: column;
}

.card-map-title {
  font-family: Big Shoulders Text;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: $lavender-dark;


  flex-grow:1;
}

.card-map-price {
  font-family: Big Shoulders Text;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $lavender-dark ;
  padding:0px 8px;
  background-color: $lavender-light;
  border: .5px solid $lavender-medium;
}

.card-map-location {
  color: $lavender-dark;
    a {
  text-decoration: none;
  }
}

.card-map-image {
  background-color: red;
  flex-grow:1;
  height:100%;
  background-position: center;
  background-size: cover;
}
