.mapboxgl-popup.mapboxgl-popup-anchor-top {
  max-width: 100% !important;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding:0px !important;
}

.mapboxgl-canvas {
  margin-bottom: 20px !important;
}
