.navbar-lewagon {
  justify-content: space-between;
  background: $lavender-light;
  max-height: 58px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-logo {
  font-family: Big Shoulders Text;
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  color: $lavender-dark;

  &:hover{
    color: #683E19;
  }
  }

.nav-item.dropdown {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.dropdown-menu {
  background: $lavender-light;
  border-color: $lavender-medium;
  a {
      color: $lavender-dark;
  }
}

.dropdown-item {
  &:hover {
    color: white;
    background: $lavender-dark;
  }
}

.alert.alert-info.alert-dismissible {
  color: $lavender-medium;
  background-color: $lavender-light;
  border-color: $lavender-medium;
}

.alert.alert-warning.alert-dismissible {
  color: $lavender-medium;
  background-color: $lavender-light;
  border-color: $lavender-medium;
}


.alert-dismissible .close {
  color: $lavender-medium;
}
